.first{
    font-size: 50px;
    color:orange;
    font-weight: bolder;
    margin-bottom:20px;
}
.second{
    margin-bottom: 480px;
    font-size: 28px;
    font-weight: bold;
    color: darkgreen;
}
.topnav {
    background-color:black;
    overflow: hidden;
  }
  
  
  .topnav a {
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
 
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  .card{
    margin-top: 30px;
  }
  .principal{
    height: 500px;
    width: auto;
}
.message{
    background-color:rgb(143, 52, 52);
}
.principal-message{
    color: white;
    font-size: 20px;
    text-align: justify;
}
.message h3, .message p{
    color: white;
    text-align: center;
}
.address{
    margin-top: 6%;
    color:gray;
}
*{
	padding:0;
	margin:0;
}

html{
	background-color: #eaf0f2;
}

body{
	font:16px/1.6 Arial,  sans-serif;
}

header{
	text-align: center;
	padding-top: 100px;
	margin-bottom:190px;
}

header h1{
	font: normal 32px/1.5 'Open Sans', sans-serif;
	color: #3F71AE;
	padding-bottom: 16px;
}

header h2{
	color: #F05283;
}

header span{
	color: #3F71EA;
}


/* The footer is fixed to the bottom of the page */

footer{
	position: fixed;
	bottom: 0;
}

@media (max-height:800px){
	footer { position: static; }
	header { padding-top:40px; }
}


.footer-distributed{
	background-color: #2c292f;
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
	padding: 50px 50px 60px 50px;
	margin-top: 80px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
	width: 30%;
}

.footer-distributed h3{
	color:  #ffffff;
	font: normal 36px 'Cookie', cursive;
	margin: 0;
}

/* The company logo */

.footer-distributed .footer-left img{
	width: 30%;
}

.footer-distributed h3 span{
	color:  #e0ac1c;
}

/* Footer links */

.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-company-name{
	color:  #8f9296;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
	width: 35%;
}


.footer-distributed .footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
	vertical-align: middle;
	margin:0;
}

.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footer-distributed .footer-center p a{
	color:  #e0ac1c;
	text-decoration: none;;
}


/* Footer Right */

.footer-distributed .footer-right{
	width: 30%;
}

.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer-distributed .footer-icons{
	margin-top: 25px;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}

/* Here is the code for Responsive Footer */
/* You can remove below code if you don't want Footer to be responsive */


@media (max-width: 880px) {

	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

	.footer-distributed .footer-center i{
		margin-left: 0;
	}

}
 
.logo {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
 
.logo img {
    width: 33%;
    border: 2px solid white;
    border-radius: 50px;
}
 
.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    cursor: pointer;
}
 
.nav-list {
    width: 70%;
    display: flex;
}
 
.nav-list li {
    list-style: none;
    padding: 2px 6px;
}
 
.nav-list li a {
    text-decoration: none;
    color: white;
}
 
.nav-list li a:hover {
    color: grey;
}
 
.rightNav {
    width: 50;
    text-align: right;
}
 
#search {
    padding: 5px;
    font-size: 17px;
    border: 2px solid grey;
    border-radius: 9px;
}
 
.background {
    background-color: grey;
    background-blend-mode: darken;
    background-size: cover;
}
 
.firstsection {
    height: 100vh;
}
 
.box-main {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    max-width: 50%;
    margin: auto;
    height: 80%;
}
 
.firstHalf {
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
 
.firstHalf img {
    display: flex;
    border-radius: 9050px;
}
 
.text-big {
    font-family: "Piazzolla", serif;
    font-weight: bold;
    font-size: 41px;
    text-align: center;
}
 
.text-small {
    font-family: "Sansita Swashed", cursive;
    font-size: 18px;
    text-align: center;
}
 
#service {
    margin: 34px;
    display: flex;
}
 
#service .box {
    padding: 45px;
    margin: 3px 6px;
    border-radius: 28px;
}
 
#service .box img {
    margin-top: 20px;
    height: 100px;
    margin: auto;
    display: block;
    border-radius: 200px;
}
 
#service .box p {
    font-family: sans-serif;
    text-align: center;
}
 
.btn {
    padding: 8px 20px;
    margin: 7px 0;
    border: 2px solid white;
    border-radius: 8px;
    background: none;
    color: white;
    cursor: pointer;
}
 
.btn-sm {
    padding: 6px 10px;
    vertical-align: middle;
}
 
.center {
    text-align: center;
}
 
.text-footer {
    text-align: center;
    padding: 30px 0;
    font-family: "Ubuntu", sans-serif;
    display: flex;
    justify-content: center;
}
/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
	width: 100%; /* Full width */
	padding: 12px; /* Some padding */ 
	border: 1px solid #ccc; /* Gray border */
	border-radius: 4px; /* Rounded borders */
	box-sizing: border-box; /* Make sure that padding and width stays in place */
	margin-top: 6px; /* Add a top margin */
	margin-bottom: 16px; /* Bottom margin */
	resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  
  
  
 
  
  *{box-sizing: border-box;
  }
  input[type=text], input[type=email], input[type=number], input[type=select], input[type=date],input[type=select],input[type=password], input[type=tel]
  {
      width: 45%;
      padding: 12px;
      border: 1px solid rgb(168, 166, 166);
      border-radius: 4px;
      resize: vertical;
  }
  textarea{
      width:45%;
      padding: 12px;
      border: 1px solid rgb(168, 166, 166);
      border-radius: 4px;
      resize: vertical;
  }
  input[type=radio],input[type=checkbox]{
      width: 1%;
      padding-left: 0%;
      border: 1px solid rgb(168, 166, 166);
      border-radius: 4px;
      resize: vertical;
  }
  h1{
      font-family: Arial;
      font-size: medium;
      font-style: normal;
      font-weight: bold;
      color: brown;
      text-align: center;
      text-decoration: underline;
  }
  label{
      padding: 12px 12px 12px 0;
      display: inline-block;
  }
  input[type=submit] {
      background-color: #4CAF50;
      color: white;
      padding: 12px 20px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      float:left;
  }
  input[type=submit]:hover {
  background-color: #32a336;
  }
  .container{
      border-radius: 5px;
      
      padding: 20px;
  }
  .col-10{
      float: left;
      width:10%;
      margin-top: 6px;
  }
  .col-90{
      float: left;
      width: 90%;
      margin-top: 6px;
  }
  .row:after{
      content: "";
      display: table;
      clear: both;
  }
  @media screen and (max-width: 600px) {
      .col-10,.col-90,input[type=submit]{
          width: 100%;
          margin-top: 0;
      }
  }
  .container{
    max-width: 800px;
   
    width: 800px;
    padding: 25px 40px 10px 40px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
  }
  .container .text{
    text-align: center;
    font-size: 35px;
    font-weight: 600;
    background: -webkit-linear-gradient(right, #56d8e4, #9f01ea, #56d8e4, #9f01ea);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .container form{
    padding: 30px 0 0 0;
  }
  .container form .form-row{
    display: flex;
    margin: 32px 0;
  }
  form .form-row .input-data{
    width: 100%;
    height: 40px;
    margin: 0 20px;
    position: relative;
  }
  form .form-row .textarea{
    height: 70px;
  }
  .input-data input,
  .textarea textarea{
    display: block;
    width: 100%;
    height: 100%;
    border: none;
    font-size: 17px;
    border-bottom: 2px solid rgba(0,0,0, 0.12);
  }
  .input-data input:focus ~ label, .textarea textarea:focus ~ label,
  .input-data input:valid ~ label, .textarea textarea:valid ~ label{
    transform: translateY(-20px);
    font-size: 14px;
    color: #3498db;
  }
  .textarea textarea{
    resize: none;
    padding-top: 10px;
  }
  .input-data label{
    position: absolute;
    pointer-events: none;
    bottom: 10px;
    font-size: 16px;
    transition: all 0.3s ease;
  }
  .textarea label{
    width: 100%;
    bottom: 40px;
    background: #fff;
  }
  .input-data .underline{
    position: absolute;
    bottom: 0;
    height: 2px;
    width: 100%;
  }
  .input-data .underline:before{
    position: absolute;
    content: "";
    height: 2px;
    width: 100%;
    background: #3498db;
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.3s ease;
  }
  .input-data input:focus ~ .underline:before,
  .input-data input:valid ~ .underline:before,
  .textarea textarea:focus ~ .underline:before,
  .textarea textarea:valid ~ .underline:before{
    transform: scale(1);
  }
  .submit-btn .input-data{
    overflow: hidden;
    height: 45px!important;
    width: 25%!important;
  }
  .submit-btn .input-data .inner{
    height: 100%;
    width: 300%;
    position: absolute;
    left: -100%;
    background: -webkit-linear-gradient(right, #56d8e4, #9f01ea, #56d8e4, #9f01ea);
    transition: all 0.4s;
  }
  .submit-btn .input-data:hover .inner{
    left: 0;
  }
  .submit-btn .input-data input{
    background: none;
    border: none;
    color: #fff;
    font-size: 17px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
    position: relative;
    z-index: 2;
  }
  @media (max-width: 700px) {
    .container .text{
      font-size: 30px;
    }
    .container form{
      padding: 10px 0 0 0;
    }
    .container form .form-row{
      display: block;
    }
    form .form-row .input-data{
      margin: 35px 0!important;
    }
    .submit-btn .input-data{
      width: 40%!important;
    }
  }
  *{
    font-family:Comic Sans MS;
    padding: 0;
    margin: 0;
  }
  
  
  
  
  